<div ng-switch on="data.usersNocontact.length">
<div ng-switch-when="0">
  <div class="jumbotron">
                    No new User To add
  </div>

</div>
<div ng-switch-default >
<table class="table table-striped" >
  <tbody>
    <tr ng-repeat="user in data.usersNocontact" >
       <td ><div class="photo_equipe">
    <img id="photo" ng-src="{{user.avatar_path}}">
      </div></td>

      <td >{{user.username}}</td>
      <td >{{user.email}} </td>  
      <td >
      <form role="form">
        <select class="form-control" required ng-model="selectedItem">
            
           <option ng-repeat="group in data.group"  value="{{group.id_group}}">{{group.name}}</option>
         </select>  
        
      </td>
      <td ><button type="submit" class="btn btn-primary" ng-click="addContact(user.id_user, selectedItem)">
       <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> ajouter
        </button></td>  
        
      </form>
    </tr>
    </tbody>

</table>
</div>

</div>