<script type="text/ng-template" id="localizaton_map.html">
    <div class="modal-header">
        <h3 class="modal-title">Choose a location</h3>
    </div>
    <div class="modal-body" ng-init="init()">
        <input id="input-address" class="controls" type="text" placeholder="Enter a location">
        <div id="type-selector" class="controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-establishment">
            <label for="changetype-establishment">Etablissement</label>

            <input type="radio" name="type" id="changetype-address">
            <label for="changetype-address">Adresses</label>

            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Géocode</label>
        </div>
        <div id="map-canvas"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Ok</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="form-group col-lg-4">

    <form class="form-signin" role="form" ng-submit="login()">
        <h2 class="form-signin-heading">Add a Todo</h2>
        <input type="text" class="form-control" placeholder="Title" ng-model="title" required autofocus>
        <input type="text" class="form-control" placeholder="Description" ng-model="description" >
        <select class="form-control" id="sel1">
            <option value="" disabled selected>Priority</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <input type="text" class="form-control" placeholder="Context" ng-model="context">
        <div class='input-group'>
            <input type="text" class="form-control" placeholder="Date" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
        
    <input id="input-file" type="file" multiple="false">
    <input type="text" class="form-control" placeholder="Url" ng-model="url">
    <button type="button" class="btn btn-default" ng-click="showLocation('lg')" ><i class="glyphicon glyphicon-map-marker"></i>Add a location</button>
    <input type="text" class="form-control" placeholder="Address" ng-model="address">

    <button type="submit" id="connection_button" class="btn btn-lg btn-primary btn-block">Add</button>
    </form>

    
    

</div>


