
<div id="groupe" style="visibility: hidden">

                    <div class="row"  ng-switch on="data.group.length" ng-cloak id="groupe">
                <ul ng-switch-when="0">
                    <a onclick="groupe('show')" class="btn btn-info">You have no group, create one</a>
                </ul>

                <div id="groupe" ng-switch-default ng-cloak >
                    <li>
                   <a ui-sref="addcontact"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a contact </a>
                   </li>
                <accordion>
                    <accordion-group id="groupee">
                    <accordion-heading ng-click="isopen=!isopen" >
                    All contact
                    <span class="badge">{{total()}}</span>
                    
                    </accordion-heading>

                      <ul>
                      <div ng-repeat="listgroup in data.group">
                      <div ng-repeat="listcontact in listgroup.contact" > 
                      <table>
                      <tbody>
                        <tr> 
                        <td><img class="empty_avatar" ng-src="{{listcontact.avatar_path}}"/></td>
                        <td width="100%"> {{listcontact.username}}</td>  
                        <td width="100%">
                        <a ng-click="deletecontact(contact.id_user)">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </a></td>
                        </tr>
                        </tbody>
                        </table>
                      </div>
                      </div>
                      </ul>
                    </accordion-group id="groupee">
                    <accordion-group ng-repeat="listgroup in data.group | filter:query ">
                    <accordion-heading ng-click="isopen=!isopen" >
                    {{listgroup.name}}
                    
                    <!-- {{ total(listgroup) }} -->
                    <span class="badge" >{{ listgroup.contact.length }}</span>

                    
                    </accordion-heading>
                    <ul>
                      <div ng-repeat="listcontact in listgroup.contact"  >
                       <table>
                      <tbody>
                        <tr>
                          <td><img class="empty_avatar" ng-src="{{listcontact.avatar_path}}"/></td>
                        <td width="100%">{{listcontact.username}} </td>
                        <td width="100%">
                         <a ng-click="deletecontact(listcontact.id_user)">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </a>

                        </td>
                        </tr>
                        </tbody>
                        </table>
                      </div>
                      </ul>
                      
                    </accordion-group>
                    </accordion>
                     <li>
                        <a onclick="groupe('show')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a group</a>
                    </li>

                </div>     
                </div>

                <div id="addgroup" style="visibility: hidden; height:0px;" >
                    <form role="form" >
                    <input type="text" class="form-control" ng-model="namegroup" placeholder="Group's name"/>
                    <button type="submit" class="btn btn-primary" ng-click="submitgroup(namegroup)" onclick="groupe('hide')">Add</button>
                    <a onclick="groupe('hide')">Cancel {{test}}</a>
                    </form>
                     </div> 

                </div>
