<div class="jumbotron">
  <h1>Welcome home !</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure to see you.
  </p>
  <p><a class="btn btn-lg btn-success">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>



<a ui-sref="login" class="btn btn-link"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a>

<!--

http://ironsummitmedia.github.io/startbootstrap-landing-page/

	- Présentation / Gérer rapidement vos todos
	- Localisez vos todos
	- Suivre un todo avec Google/Hotmail
	- Acceder en mode hors ligne à vos todos
	- Récupèrer les todos sur toute plateforme
	- Partager vos todos
	- Créer vos groupe de contact pour partager



	-->