


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>TodoManager</h1>
                        <h3>A web-app manager for your todos that helps you plan your day.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a ui-sref="login" class="btn btn-default btn-lg"> <i class="fa fa-sign-in"></i> <span class="network-name">Login</span></a>
                            </li>
                            <li>
                                <a ui-sref="register" class="btn btn-default btn-lg"> <i class="glyphicon glyphicon-user"></i> <span class="network-name">Register</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sync your todos</h2>
                    <p class="lead"> With TodoManager web-app you can easily sync your todos from your mobile to your home computer.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Share and delegate</h2>
                    <p class="lead">Share your todos with your family, friends and colleagues already connected or not to TodoManager web-app.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Offline & Online management for your todos </h2>
                    <p class="lead">Use the web-app in offline mode, to create and modify your todos and sync it back in, once connected.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

        <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Localize your todos with Google Maps</h2>
                    <p class="lead">Add a location for your tasks and enable the GPS.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to TodoManager</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a ui-sref="login" class="btn btn-default btn-lg"> <i class="fa fa-sign-in"></i> <span class="network-name">Login</span></a>
                        </li>
                        <li>
                            <a ui-sref="register" class="btn btn-default btn-lg"> <i class="glyphicon glyphicon-user"></i> <span class="network-name">Register</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->






<!--

http://ironsummitmedia.github.io/startbootstrap-landing-page/

	x - Présentation / Gérer rapidement vos todos
	- Localisez vos todos
	- Suivre un todo avec Google/Hotmail
	x - Acceder en mode hors ligne à vos todos
	x - Récupèrer les todos sur toute plateforme
	x - Partager vos todos
	x - Créer vos groupe de contact pour partager


<a ui-sref="login" class="btn btn-link"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a>

	-->