<div ng-controller="ListTodoListCtrl">
    <div id="sidebar-wrapper">
        <h3>Your ToDo Lists</h3>
        <ul class="sidebar-nav">
            <li class="sidebar-brand"></li>
            <div class="row"  ng-switch on="todoList.length" ng-cloak>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input  type="text" class="form-control input-sm" ng-model="query" placeholder="Search ..." >
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <a ng-click="hideCompleted()" class="btn btn-sm btn-primary" data-toggle="button">
                                Hide <span style="color:Chartreuse " class="glyphicon glyphicon-ok"></span>
                            </a>
                            <a ui-sref="todolist" class="btn btn-sm btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>  <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                            <a ui-sref="add/todo" class="btn btn-sm btn-primary">
                                <span class="glyphicon glyphicon-plus"></span> abc <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </div>    
                    </div>
                </div>
                
                <ul ng-switch-when="0">
                    <a ui-sref="todolist" class="btn btn-info">You have no list, create one</a>
                </ul>

                <accordion close-others="false">
                    <accordion-group  is-open="status.open" ng-repeat="list in todoList | filter:query ">
                        <accordion-heading ng-click=""><a class="accordion-toggle" ng-style="{color: '{{list.color}}'}">{{list.name}}</a>
                        <a ng-click="status.open = !status.open" class="pull-right" ui-sref="viewToDoList({ id: {{list.id_list}} })"> <i class="glyphicon glyphicon-info-sign"></i> </a>
                        </accordion-heading>
                        <li ng-repeat="todo in list.todos | filter:query | orderBy:['-date', 'name'] " ng-hide="hidecompleted && (todo.completed == true) ">
                            <a style="display: inline; color: white;" ui-sref="todo/({ id: {{todo.id_todo}} })" popover-trigger="mouseenter" popover-placement="up" popover-title="{{todo.title}}" popover="{{todo.description}}">{{todo.title}}</a>
                            <a class="pull-right"><i style="display: inline; color:Chartreuse;"  ng-click="onTodoModified(todo)" class="glyphicon glyphicon-ok ng-show pull-right" ng-show="todo.completed"></i></a>
                            <a class="pull-right"><i style="display: inline; color:Gainsboro"  ng-click="onTodoModified(todo)" class="glyphicon glyphicon-ok ng-hide " ng-hide="todo.completed"></i></a>
                        </li>
                    </accordion-group>
                 </accordion>
            </div>      
        </ul>
    </div>
</div>