<div class="form-group col-lg-4">
    <form class="form-signin" role="form" ng-submit="login()">
        <h2 class="form-signin-heading">Identifiants</h2>
        <input type="email" class="form-control" placeholder="Email address" ng-model="email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
        <button type="submit" id="connection_button" class="btn btn-lg btn-primary btn-block">Connexion</button>
    </form>
</div>
